ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#chart-container {
  position: relative;
  width: 500px;
  height: 500px;
}

#reset {
  position: absolute;
  right: 10px;
  top: 10px;
}

#legend ul li label:hover {
  cursor: pointer;
}

#legend ul li:not(.selected) .customCheckbox {
  background-color: darkgrey !important;
}

#legend ul li:not(.selected) {
  opacity: .4 !important;
}


.highlight {
  fill: 'black'
}
